{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <center>
        <div class="card">
            <div class="card-body">
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-success" >Submit</button>
            </form>
            </div>
        </div>
        {% if short_url %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">URL Shortened Successfully!!</h4>
                <p>Your Shortened Link is Ready!!!</p>
                <a href="http://127.0.0.1:8000/url/{{short_url}}" class="mb-0">http://127.0.0.1:8000/url/{{short_url}}</a>
            </div>
        {% endif %}
    </center>
    <style>
        .card-body {
            background-color: whitesmoke;
        }
    </style>
{% endblock %}